* {
    margin: 0;
    padding: 0;
}

body {
    background: #272727fb;
}

/* Global */

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.lockScroll {
    overflow: hidden;
}

/* Grid */

.container {
    display: grid;
    grid-template-rows: 50px repeat(4, auto);
    grid-template-areas: "header" "intro" "about" "projects" "footer";
}

/* Header */

header {
    grid-area: header;
    background: #272727;
    opacity: 0.95;
    color: white;
    z-index: 999;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 2fr 0.3fr;
    grid-template-areas: "name nav burger"
}

.logo {
    grid-area: name;
}

header a {
    color: white;
}

header .name {
    padding: 5px 20px;
}

/* Navigation */

nav {
    grid-area: nav / burger;
}

nav ul {
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    top: 30%;
}

nav ul li {
    display: block;
}

nav ul li a {
    padding: 10px 20px;
    color: white;
}

nav ul li a:hover {
    border-bottom: 1px solid #00d9ff;
}

/* Burger menu */

.burger {
    grid-area: burger;
}

/* Intro */

.intro {
    grid-area: intro;
    background: url(../img/intro/black-texture.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 40vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* About me */

.about {
    color: black;
    background: #f8f8f8;
    min-height: 100px;
    padding: 10px 40px;
    grid-area: about;
    display: grid;
    grid-gap: 20px;
    grid-template-rows: 30px auto;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "titel titel" "picture text";
}

.about h1 {
    grid-area: titel;
    text-align: center;
}

.about p {
    grid-area: text;
}

.about img {
    grid-area: picture;
    width: 100px;
    max-width: 200px;
    max-height: 300px;
    justify-self: center;
}

/* Projects */

main {
    grid-area: projects;
}

main h2 {
    text-align: center;
    color: black;
    background: #f8f8f8;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    grid-gap: 20px;
}

main h2::before, main h2::after {
    display: block;
    content: "";
    height: 2px;
    background: linear-gradient(to var(--direction, left), black, transparent);
}

main h2::after {
    --direction: right;
}

.projects {
    background: #f8f8f8;
    padding: 0px 2vw;
    padding-bottom: 60px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 350px));
    justify-content: center;
}

.projects article {
    background: white;
    border-radius: 5px;
    height: 400px;
}

.projects article .short {
    text-align: center;
    margin: 0px 20px;
}

.projects article .full {
    display: none;
}

.projects article p:last-child {
    display: none;
}

.projects article h3 {
    text-align: center;
    font-size: 20px;
    margin: 10px 0px;
}

.projects article img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 5px;
}

.projects article:hover {
    box-shadow: 2px 2px 5px 5px #27272713;
    cursor: pointer;
}

.site-link {
    color: white;
    background: #00d9ff;
    border-radius: 2px;
    padding: 10px;
    visibility: hidden;
}

/* Overlay  */

.overlay {
    position: fixed;
    /* Sit on top of the page content */
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    cursor: pointer;
    visibility: hidden;
    display: grid;
    align-items: center;
    justify-items: center;
}

.project-overlay {
    height: 80vh;
    width: 80vw;
    transform: scale(0.3, 0.3);
    overflow-y: scroll;
    background: white;
    border-radius: 3px;
    transition: all 0.4s ease-in-out;
}

.project-overlay img {
    width: 100%;
}

.project-overlay .details {
    padding: 20px;
}

.project-overlay .details .short {
    display: none;
}

.project-overlay .details h3 {
    text-align: center;
}

.open {
    visibility: visible;
}

.open .project-overlay {
    /* width: 80vw;
    height: 90vh; */
    transform: scale(1, 1);
}

.open .project-overlay a {
    visibility: visible;
    display: block;
    text-align: center;
}

/* Footer */

footer {
    color: white;
    min-height: 200px;
}

footer h2 {
    text-align: center;
    padding: 20px;
}

footer .contact-methods {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    padding: 0px 20px;
    margin: 0px 40px;
    text-align: center;
}

footer .email img {
    position: relative;
    left: 50%;
    top: 5px;
    transform: translate(-50%, -50%);
    width: 30px;
    margin: 0;
    padding: 0;
    z-index: 1;
}

/* responsive */

@media only screen and (max-width: 600px) {
    /* footer */
    footer {
        height: 300px;
    }
    footer .contact-methods {
        flex-direction: column;
    }
    footer .contact-methods div {
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 540px) {
    /* Blur */
    .blur main, .blur footer, .blur .about {
        filter: blur(2px);
        z-index: -1;
    }
    header {
        grid-template-columns: 2fr 1fr;
        grid-template-areas: "name burger" "nav nav";
    }
    /* Burger menu */
    .burger {
        display: inline-block;
        cursor: pointer;
        margin-right: 15px;
        padding: 5px;
        justify-self: end;
    }
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s;
    }
    .burger-expanded .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }
    .burger-expanded .bar2 {
        opacity: 0;
    }
    .burger-expanded .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }
    /* Burger menu expanded */
    nav {
        align-self: center;
        grid-area: nav;
        width: 100%;
        z-index: 9;
        height: 0px;
        overflow: hidden;
        transition: all .4s ease-in-out;

        display: grid;
        justify-items: center;
    }
    
    nav.expanded {
        height: 60vh;
        background: #272727;
    }
    nav ul {
        display: grid;
        padding: 15px 0px;
        grid-gap: 20px;
        opacity: 0.99;
        position: relative;
        top: 0px;
    }

    nav ul li {
        width: 90vw;
    }
    nav ul li a {
        display: block;
        text-align: center;
        padding: 20px 0;
        border-radius: 5px;
    }
    nav ul li a:hover {
        border: none;
        background: #00d9ff;
        color: black;
    }
    /* Project overlay */
    .project-overlay {
        width: 100vw;
        height: 100%;
    }
    .open .project-overlay {
        transform: scale(1, 1);
        border-radius: 0;
    }
}